:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px 32px 32px;
  position: relative;

  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 32px;

  width: 1302px;
  max-width: 1400px;
  height: 672px;
  min-height: 100%;

  background: #f9fafb;
  border-radius: 20px 20px 0px 0px;
}
