<template-default>
  <header>
    <div class="left-header">
      <atom-title>Ideas</atom-title>
      <div class="tags-container">
        <atom-tag color="#E9D5FF" iconName="lucideLightbulb" number="2">ideas</atom-tag>
        <atom-tag color="#C7D2FE" iconName="lucideMessageSquare" number="6">comments</atom-tag>
        <atom-tag color="#BBF7D0" iconName="lucideThumbsUp" number="2">Votes</atom-tag>
      </div>
    </div>
    <div class="right-header">
      <div class="order-by">
        <span>Order by:</span>
        <atom-select [options]="options" text-default="Select" />
        <atom-separator />
        <atom-button (action)="openCreatePopup()">
          <ng-icon name="lucidePlus" class="icon" />
          <span>New idea</span>
        </atom-button>
      </div>
    </div>
  </header>

  <div class="ideas">
    <card-idea (openSideIdea)="openIdeaDetail('1')" />
    <card-idea (openSideIdea)="openIdeaDetail('2')" />
    <card-idea (openSideIdea)="openIdeaDetail('3')" />
    <card-idea (openSideIdea)="openIdeaDetail('4')" />
  </div>
</template-default>

<template-popup [class.center]="true" [isActivate]="isOpenNewIdea">
  <organism-popup
    (action)="save()"
    (close)="closeCreatePopup()"
    title="Share your idea"
    subtitle="Add a new idea to your team"
  >
    <molecule-input [label]="`Title`" [placeholder]="`Give the idea a name.`" />
    <molecule-input [label]="`Description`" [placeholder]="`Write your idea`" />
  </organism-popup>
</template-popup>

<template-popup [class.left]="true" [isActivate]="isOpenIdeaDetail">
  <organism-side-idea (close)="closeIdeaDetail('1')" />
</template-popup>
