:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 2px;
  gap: 80px;
  isolation: isolate;

  width: 100%;
  max-width: 1302px;
  min-width: 980px;

  .container-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img.mindmap {
      width: 48px;
      height: 48px;
    }
  }

  .container-image,
  .tabs,
  .user-actions {
    flex: 1;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 8px;

  button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5.5px 12px;
    gap: 6px;

    background: rgba(255, 255, 255, 0.0001);
    border-radius: 8px;
    cursor: pointer;

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.005em;
      color: #111827;
    }
    .icon {
      color: #111827;
    }
  }

  button.active {
    background: #4338ca;
    span {
      color: #ffffff;
    }
    .icon {
      color: #ffffff;
    }
  }
}

.user-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  gap: 8px;

  img {
    width: 32px;
    height: 32px;

    background: transparent;
    border-radius: 50%;
  }

  .user-info {
    padding-right: 16px;

    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;

      color: #374151;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      display: flex;
      align-items: center;
      letter-spacing: 0.015em;

      color: #4b5563;
    }
  }

  .logout {
    all: unset;
    height: 24px;
    width: 24px;
    cursor: pointer;

    color: #171717;
  }
}
