<div class="container-image">
  <img src="mind-map.svg" alt="Mind Map" class="mindmap" />
</div>

<div class="tabs">
  <button class="active">
    <ng-icon name="lucideLightbulb" class="icon" />
    <span>Ideas</span>
  </button>
  <button>
    <ng-icon name="lucideUsers" class="icon" />
    <span>Users</span>
  </button>
</div>

<div class="user-actions">
  <img src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed={{ user.id }}" alt="avatar" />
  <div class="user-info">
    <h3>{{ user.name }}</h3>
    <p>{{ user.email }}</p>
  </div>

  <button class="logout">
    <ng-icon name="lucideLogOut" class="icon" />
  </button>
</div>
